@inject IProductService ProductService

@if (ProductsResponse is null || ProductsResponse.Data.Count == 0)
{
	<p class="text-center">No products found</p>
}
else
{
	<div class="row">
		@foreach (var product in ProductsResponse.Data)
		{
			<div class="col-xl-3 col-md-4 col-sm-6">
				<div class="card mb-4 shadow-sm">
					<img class="card-img-top media-img" src="@product.ImageCover" alt="@product.Name" style="object-fit: contain; width: 100%; height: 300px;">
					<div class="card-body">
						<p class="card-text">@product.Name</p>
						<p class="card-text" style="height: 120px">@product.Description</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a type="button" class="btn btn-sm btn-outline-success" href="/product/@product.Id">View</a>
								<button type="button" class="btn btn-sm btn-outline-primary">Add to Cart</button>
							</div>
							<small class="text-success">@product.Price.ToString("C")</small>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="mb-1 text-center @(pageCount <= 0 ? "d-none" : "d-block")">
		@for (var i = 1; i <= pageCount; i++)
		{
			var path = $"/products?pageIndex={i}{(CategoryId is null or 0 ? "" : $"&categoryId={CategoryId}")}{(string.IsNullOrEmpty(Search) ? "" : $"&search={Search}")}";
			<a class="btn @(i == ProductsResponse.PageIndex ? "btn-info" : "btn-outline-info") page-selection
			@(i != pageCount ? "me-2" : "me-0")" href="@path">@i</a>
		}
	</div>
}

@code {

	[Parameter] public int PageIndex { get; set; }

	[Parameter] public int? CategoryId { get; set; }

	[Parameter] public string? Search { get; set; }

	[Parameter] public PaginationToReturn<ProductResponse>? ProductsResponse { get; set; }

	private int pageCount { get; set; }

	protected override void OnParametersSet()
	{
		if (ProductsResponse != null)
			pageCount = (int)Math.Ceiling((double)ProductsResponse.Count / ProductsResponse.PageSize);

		Console.WriteLine($"PC: {pageCount} - {ProductsResponse?.Count} - {ProductsResponse?.PageSize}");
	}

}